<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question_file.name %>
</p>

<p>
  <strong>Content type:</strong>
  <%= @question_file.content_type %>
</p>

<p>
  <strong>Data:</strong>
  <%= link_to 'Download', download_question_file.path(@question_file) %>
</p>

<%= link_to 'Edit', edit_question_file_path(@question_file) %> |
<%= link_to 'Back', question_files_path %>
