<p id="notice"><%= notice %></p>

<div class="thumbnail jumbotron">
  <div class="caption">
    <div class="question_title">
      <h2><%= image_tag "question_mark.png" %>&nbsp;<%= @question.title %></h2>
    </div>
    <hr>
    <div class="question_content">
      <p><%= @question.content + "ままままあままままままままままままままままあまあmamamamamamamamamamamamam" %></p>
    </div>
    <p><a class="btn btn-primary btn-lg" role="button">Download</a></p>
  </div>
</div>

<%= link_to 'Back', questions_path %>
