<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @answer.user_name %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @answer.email %>
</p>

<p>
  <strong>User_File:</strong>
  <%= @answer.user_file %>
</p>


<%= link_to 'Edit', edit_answer_path(@answer) %> |
<%= link_to 'Back', answers_path %>
