<h1>New Report</h1>
<%= alert %>
<div class="thumbnail">
  <%= form_tag('/reports', method: :post, multipart: true ) do %>
    <div class="field">
      <%= label_tag :question_id %>
      <%= select_tag :question_id, options_for_select(Question.all.map{|q| [q.title, q.id] }) %>
    </div>

    <div class="field">
      <%= label_tag :data %>
      <%= file_field_tag :data %>
    </div>

    <div class="actions">
      <%= submit_tag  "Send Report", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<%= link_to 'Back', root_path %>
