<p id="notice"><%= notice %></p>

<div class="thumbnail jumbotron">
  <div class="caption">
    <div class="question_title">
      <h2><%= image_tag "question_mark.png" %>&nbsp;<%= @question.title %></h2>
    </div>
    <hr>
    <div class="question_content">
      <p><%= simple_format @question.content %><p>
    </div>
    <p><%= link_to 'Download', download_user_file_path(@question.user_file), class: "btn btn-primary btn-lg", role: "button" %></p>
  </div>
</div>

<%= link_to 'Back', questions_path %>
