<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Codest</title>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <div id="header">
      <%= render "shared/header" %>
    </div>

    <div id="container">
      <div class="content">
        <%= yield %>
      </div>

      <br/>

      <div id="footer">
        <%= render "shared/footer" %>
      </div>
    </div> 
  </body>
</html>

